.Card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 74px;
	background-color: var(--color-white);
	box-shadow: 0px 25px 50px 25px var(--color-box-shadow);
	border-radius: 42px;
	transition: .5s;
	cursor: pointer;
}

.card_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 343px;	
	height: 458px;
	
}

.card_item {
  display: flex;	
	flex-direction: column;
  align-items: center;
	margin-top: 4px;
	height: 100%;
}

.Card:hover{
	transform: translateY(-3px);
}


.card_image{
	height: 50%;
	width: 100%;
	padding-top: 51px;	
}

.card_image svg{
	height: 100%;
	border-radius: 50%;
}
.card_info{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 48px;
	text-align: center;
}
.card_info_name {
	margin-bottom: 4px;
	color: var(--color-text-title);
	line-height: 22.5px;
	text-align: center;
	width: 263px;
    height: 37px;
	margin-top: 3px;
}
.card_info_description {
	text-align: center;
	color: var(--color-text-default);
	letter-spacing: 1.4px;
	width: 274px;
	height: 80px;
	line-height: 21px;
	margin-top: 3px;
}

.card_contact{
	margin-top: 50px;

}
.card_contact a{
	width: 49px;
	height: 49px;
	border-radius: 50%;
	margin: 0px 10px;
	box-shadow: -2px 6px 16px -1px var(--color-box-shadow);
}
.card_contact a img{
	border-radius: 50%;
	width: 49px;
	height: 49px;
	transform: scale(1.5);
}
@media (max-width: 740px){
	.Card{
		max-width: 300px;
	}
	.card_info-describe{
		text-align: center;
	}
}
@media (min-width: 740px) and (max-width: 1112px){
	.Card{
		max-width: 500px;
	}
}