.form_group {
	width: 100%;
	margin: 38px auto;
}

.contact_personal {
	display: flex;
	justify-content: space-between;
}

.contact_name {
	width: 242.21px;
	height: 61.58px;
}

.form_control {
	font-size: 16px;
	line-height: 24px;
	border: 1px solid var(--color-border-text);
	border-radius: 15px;
	background: var(--color-white);
	color: var(--color-text-input);
	letter-spacing: 1.6px;
	width: 100%;
}

.pd-l-23 {
	padding-left: 23px;
}

.pd-l-27 {
	padding-left: 27px;
}

.contact_input {
	height: 61.58px;
}

.form_control::placeholder {
	opacity: .6;
}

textarea {
	resize: none;
	text-align: left;
	height: 239.47px;
	padding-top: 26px;
	caret-color: var(--color-pink);
}

textarea:focus-visible{
	outline: none;
}

.form_btn {
	width: 248px;
	height: 58px;
	margin-top: 10px;
}
@media (max-width: 740px) {
	.pd-l-r {
		padding: 0 12%;
	}

	.form_btn {
		width: 100%;
	}
}

@media (min-width: 740px) and (max-width: 1295px) {
	.pd-l-r {
		padding: 0 12%;
	}

	.form_btn {
		width: 100%;
	}
}