.form_group{
	width: 100%;
	margin: 38px auto;
}

.contact_personal {
	display: flex;
	justify-content: space-between;
}

.contact_name {
	width: 242.21px;
	height: 61.58px;
}

.form_controll{
	font-size: 16px;
	line-height: 24px;
	border: 1px solid var(--color-border-text);
	border-radius: 15px;
	background: var(--color-white);
	color: var(--color-text-input);
	letter-spacing: 1.6px;
	width: 100%;
}

.pd-l-23 {
	padding-left: 23px;
}

.pd-l-27 {
	padding-left: 27px;
}

.contact_input {
	height: 61.58px;
}

.form_controll::placeholder{
	opacity: .6;
}

textarea {
	resize: none;
	text-align: left;
	height: 239.47px;
	padding-top: 26px;
}

textarea:focus-visible{
	outline: none;
}

.form_btn {
	width: 248px;
	height: 58px;
	margin-top: 10px;
}

