.row {
    display: flex;
    flex-wrap: wrap;
}

.col-0 {
	display: none;
}

.col-4 {
	flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-6 {
    max-width: 50%;
}

@media (max-width: 740px) {
    .m-0 {
        display: none;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}