.Footer{
	width: 100%;
    height: 705.34px;
	transform: translateY(-49%);
	clear: both;
}
.footer_wrapper{
	position: relative;
	display: flex;
	max-width: 1540px;
	margin: auto;
	background-image: url("../../assets/icon_home1/Footer\ BG\ 2.png");
	background-repeat: no-repeat;	
	height: 704.37px;
	background-size: cover;
	z-index: 0;
	
}
.footer_wrapper::after{
	content: "";
	position: absolute;
	bottom: 0px;
	z-index: -1;
	width: 100%;
	height: 125px;
	background-color: var(--color-bgr-footer);

}
.footer_container-fluid{
	width: 100%;
	height: 704.37px;
	background-image: url("../../assets/icon_home1/Footer\ BG\ 1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.footer_container{
    width: 100%;
	margin-top: 225px;
    padding-left: 150px;
}
.row {
    display: flex;
    width: 100%;
}

.footer_col {
	display: flex;
	align-items: flex-start;
	margin-bottom: 50px;
}

.footer_info {
	margin-top: 15px;
}

.footer_info-describes{
	margin-top: 27px;
    margin-left: 31px;
	color: var(--color-border-text);
	font-size: 16px;
	letter-spacing: 0.1em;
}
.footer_info-describe{
	line-height: 24px;
	letter-spacing: 1.6px;
	width: 461px;
	height: 21px;
}

.footer_info-address {
	font-style: italic;
	line-height: 21px;
	letter-spacing: 1.4px;
	color: #D7DBFF;
	width: 287px;
	height: 24px;
	margin-top: 1px;
    margin-left: 1px;
}
.footer_info-contacts {
	margin-top: -1px;
}

.footer_info_phoneNumber {
	width: 140px;
	height: 23px;
	font-style: italic;
	line-height: 21px;
	letter-spacing: 1.4px;
	color: #D7DBFF;
}
.footer_info_email{
	width: 190px;
	height: 23px;
	font-style: italic;
	line-height: 21px;
	margin-left: 36px;
	letter-spacing: 1.4px;
	text-decoration: underline;
	color: #D7DBFF;
}
.footer_more{
	display: flex;
	justify-content: space-around;
	/* width: 100%; */
	width: 730px;
	color: var(--color-border-text);
	letter-spacing: 0.1em;
	line-height: 27px;
	padding-left: 130px;
}

.footer_more-page {

}

.footer_more-informations {
	margin-left: 7px;
}

.footer_more-children{
	width: 50%;
}
.footer_more-children ul{
	margin-top: 26px;
}
.footer_more-children ul li{
	font-size: 16px;
	margin: 11px 0px;
	transition: .5s;
	cursor: pointer;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 1.6px;
}
.footer_more-children ul li:hover{
	transform: translateX(10px);
	color: var(--color-text-hover);
}
.footer_group-icon{
	width: 100%;
    display: flex;
    justify-content: space-between;
}


.footer_bottom{
	margin-top: 81px;
    display: flex;
}
.footer_internet{
	width: 305px;
	height: 27.84px;
	display: flex;
	justify-content: left;
}

.icon{
	cursor: pointer;
}
.icon img{
	transition: .5s;
}
.icon:hover img{
	transform: translateY(-3px) scale(1.1);
}

.footer_certification{
	width: 497px;
	height: 31.18px;
	color: var(--color-border-text);
	letter-spacing: 1.6px;
	text-align: right;
	line-height: 24px;
	font-style: normal !important;
}

.fa-caret-right {
	color: #D7DBFF;
	margin-right: 10px;
}

.footer_scroll{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 157px;
    right: 46px;
	cursor: pointer;
	
}
