.Footer{
	width: 100%;
    height: 705.34px;
	transform: translateY(-49%);
	clear: both;
}
.footer_wrapper{
	position: relative;
	display: flex;
	max-width: 1540px;
	margin: auto;
	background-image: url("../../assets/icon_home1/Footer\ BG\ 2.png");
	background-repeat: no-repeat;	
	height: 704.37px;
	background-size: cover;
	z-index: 0;
	
}
.footer_wrapper::after{
	content: "";
	position: absolute;
	bottom: 0px;
	z-index: -1;
	width: 100%;
	height: 125px;
	background-color: var(--color-bgr-footer);

}
.footer_container-fluid{
	width: 100%;
	height: 704.37px;
	background-image: url("../../assets/icon_home1/Footer\ BG\ 1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.footer_container{
    width: 100%;
	margin-left: 150px;
    margin-top: 240px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer_col {
	display: flex;
	align-items: flex-start;
	margin-bottom: 50px;
}

.footer_info {
	
}

.footer_info-describes{
	margin-top: 27px;
    margin-left: 31px;
	color: var(--color-border-text);
	font-size: 16px;
	letter-spacing: 0.1em;
}
.footer_info-describe{
	line-height: 24px;
	letter-spacing: 1.6px;
	width: 461px;
	height: 21px;
}

.footer_info-address {
	font-style: italic;
	line-height: 21px;
	letter-spacing: 1.4px;
	color: #D7DBFF;
	width: 287px;
	height: 24px;
	margin-top: 1px;
    margin-left: 1px;
}
.footer_info-contacts {
	margin-top: -1px;
}

.footer_info_phoneNumber {
	width: 140px;
	height: 23px;
	font-style: italic;
	line-height: 21px;
	letter-spacing: 1.4px;
	color: #D7DBFF;
}
.footer_info_email{
	width: 190px;
	height: 23px;
	font-style: italic;
	line-height: 21px;
	margin-left: 36px;
	letter-spacing: 1.4px;
	text-decoration: underline;
	color: #D7DBFF;
}
.footer_more{
	display: flex;
	justify-content: space-around;
	width: 100%;
	color: var(--color-border-text);
	font-size: 17px;
	letter-spacing: 0.1em;

}
.footer_more-children{
	width: 50%;

}
.footer_more-children ul{
	margin-top: 40px;
}
.footer_more-children ul li{
	font-size: 15px;
	margin: 10px 0px;
	transition: .5s;
	cursor: pointer;
}
.footer_more-children ul li:hover{
	transform: translateX(10px);
	color: var(--color-text-hover);
}
.footer_group-icon{
	margin-bottom: 20px;
}


.footer_bottom{
	margin-top: 50px;
}
.footer_internet{
	width: 86%;
	margin: auto;
	display: flex;
	justify-content: left;
}

.icon{
	
	margin: 0px 20px;
	
	cursor: pointer;
}
.icon img{
	transition: .5s;
}
.icon:hover img{
	transform: translateY(-3px) scale(1.1);
}

.footer_certification{
	color: var(--color-border-text);
	font-size: 15px;
	letter-spacing: 0.1em;
}



.footer_scroll{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 180px;
	right: 50px;
	cursor: pointer;
	
}
