.Slider {
	height: 743px;
	width: 100%;
}

.slider_wrapper {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 1440px;
	margin: auto;
	padding-top: 187px;
	height: 100%;
	background-image: url("/assets/icon_home1/Slide_Background.png");
	background-repeat: no-repeat;
}

.slider_main-left {
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 50%;
}

.slider_main-child {
	padding-left: 134px;
	padding-bottom: 29px;
}

.slider_main-title {
	line-height: 60px;
	width: 430px;
	height: 128px;
	color: var(--color-text-title);
}

.slider_main-description {
	line-height: 24px;
	letter-spacing: 1.6px;
	width: 474px;
	height: 54px;
	color: var(--color-text-title);
}

.slider-btn {
	padding-top: 27px;
}

.slider_main-btn {
	width: 200px;
	height: 58.36px;
	margin-left: 1px;
}

.slider_main-right {
	width: 601.5px;
	height: 397.5px;
}

.slider_main-right svg {
	position: absolute;
    top: 261px;
    left: 685px;
}

.Slider_button{
	position: relative;
	width: 25.31px;
	height: 8.15px;
	top: 44px;
    left: 707.84px;
	border-radius: 50px;
	background-color: var(--color-text-title);
	cursor: pointer;
}
.Slider_button::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translate(-150%,-50%);
	width: 14.82px;
	height: 3.09px;
	border-radius: 50px;
	background-color: var(--color-text-default);
}

.Slider_button::before{
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translate(150%,-50%);
	width: 14.82px;
	height: 3.09px;
	border-radius: 50px;
	background-color: var(--color-text-default);
}



@media (max-width: 740px){
	.slider_main{
		width: 100%;
		text-align: center;
	}
	.slider_main-right{
		height: 100%;
	}
	.slider_main-description{
		text-align: center;
	}
}